html {
    font-family: sans-serif;
    
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    color: #012;
    background-color: #FFF;

}
a:active, a:hover {
    outline: 0;
}
.logo {
    font-size: 300%;
    font-weight: 700;
    color: #16a085;
    display: block;
    text-decoration: none;
    text-align: center;
}
a {
    background-color: transparent;
}
.page-title__text {
    font-weight: 700;
    font-size: 150%;
}
div {
    display: block;
}
.page-title__subtitle {
    font-weight: 400;
    font-size: 75%;
    color: #828282;
}
.wrapper {
    max-width: 1100px;
    margin: 10px auto;
}

p, ul, ol, dl {
    font-size: 100%;
    line-height: 32px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#about-img {
    border-radius: 50%;
    max-width: 214px;
    margin: auto;
    margin-bottom: 3%;
    border: solid;
    border-color: #1da085;
}
img {
    display: block;
    max-width: 100%;
}


.fa-linkedin:before {
    content: "\f0e1";
}
.fa-github:before {
    content: "\f09b";
}
.social-links {
    float: right;
    font-size: 150%;
    color: #828282;
    list-style-type: none;
}
.header {
    overflow: hidden;
}
p, ul, ol, dl {
    font-size: 100%;
    line-height: 32px;
}
strong {
    color: #16a085;
}
iframe {
max-width = 100%;
}
